@mixin center {
  display: flex;
  align-items: center;
}

@mixin link {
  color: inherit;
  text-decoration: none;
}

@mixin responsive($breakpoint) {

  // 660px
  @if $breakpoint==phone {
    @media (max-width: 660px) {
      @content
    };
  }

  // 900px
  @if $breakpoint==tab-port {
    @media (max-width: 900px) {
      @content
    };
  }
}
