// COLORS
$primary-color: #2E99D6;
$primary-color-light: #3ca6e2;
$color-white: #fff;
$color-black: #000;
$color-red: #ff0000;
$color-grey: #bebebe;
$color-grey-light: #F3F3F3;

// SIZES
//PX
$font-size-1: 1px;
$font-size-5: 5px;
$font-size-10: 10px;
$font-size-15: 15px;
$font-size-20: 20px;
$font-size-30: 30px;
$font-size-300: 300px;
$font-size-500: 500px;

// PERCENTAGE
$percent-10: 10%;
$percent-15: 15%;
$percent-100: 100%;

// REM
$rem-1: 1rem;
$rem-1_2: 1.2rem;
